<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');
$db['default']['hostname'] = '127.0.0.1';
$db['default']['username'] = 'username';
$db['default']['password'] = 'password';
$db['default']['database'] = 'database';