div.divider {
	height: 4px;
	width: 220px;
	border-top:#292C28 1px solid;
	border-bottom:#292C28 1px solid;
	margin:auto;
	margin-top:2px;
	margin-bottom:30px;
	text-align:center;
}

.image-caption {
	text-align:left;
    position: absolute;
    left: 50%; top: 50%;
	margin-top:-30px; /* header height/2 */
    display: inline-block;
    max-width: 1170px;
    width: 100%;
	z-index:1;
	color:#fff;
    padding: 20px;
    -webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		 -o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);

}

#home .image-caption p {
	font-family: 'Asap', 'sans-serif';
	font-size: 25px;
    line-height:100%;
	font-weight:700;
/*	color: #d6dbd9;*/
	text-transform: uppercase;
	text-shadow:none;
}

#home .image-caption h2 {
	font-family: 'Asap', 'sans-serif';
	font-weight:700;
	font-size:60px;
	line-height:95%;
	text-transform:uppercase;
	text-shadow:none;
/*	color:#d6dbd9;*/
    display:block;
}

#home .image-caption .event {
    margin-top: 30px;
}
#home .image-caption .event div {
    display: inline-block;
    color: #ffffff;
}

#home .image-caption .event div p {
    font-family: 'Asap', 'sans-serif';
	font-size: 28px;
    font-weight: 100;
    display: inline-block;
    vertical-align: top;
}

#home .image-caption .event .venue_place {

}
#home .image-caption .event .venue_date span,
#home .image-caption .event .venue_place span {
    font-size: 35px;

}

#home .image-caption .event .venue_date p {
    font-family: 'Asap', 'sans-serif';
	font-size: 18px;
    font-weight: 100;
    color: #ffffff;
    line-height: 100%;
}

#home .image-caption .event .venue_date p span {
     font-family: 'Asap', 'sans-serif';
	font-size: 16px;
    font-weight: 100;
    color: #ffffff;

}
#home .image-caption .event .venue_place p {
    font-family: 'Asap', 'sans-serif';
	font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    line-height: 120%;
}

#header a.navbar-brand {
    font-family: 'Asap', 'sans-serif';
	padding:0;
	color:#326a67;
	height:60px;
	line-height:60px;
	font-size:19px;
	font-weight:600;
	text-transform:uppercase;
	padding-left:15px;
}

/* SECTIONS */
/*
section.alternate.arrow-down {
    background: url("../../img/site/down_alternate.png") no-repeat scroll center top #C4C9C3;
}
*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Asap', 'sans-serif';
	font-weight: 100;
	padding:0; margin:0;
	color:#181818;
}

h1 {
	font-size:58px;
	line-height: 58px;
    font-weight: 100;
}

.row.planes h3,
.row.planes p,
.row.planes .pricetable-items {
color: #fff
}

section {
	background:#c4c9c3;
     padding: 50px 0;
}

section#home_2 {
    padding: 30px 0;
    background: #ffffff;
}

section#home_2 .legend {
    margin: 20px 0;
}

section#home_2 .legend h4 {
    font-size: 20px;
}
section#lugar {
    padding-bottom: 0;
}
section h5,
section header h1,
section header h2,
section header h3 {
	color:#292c28;
}

section header {
    position: relative;
    margin-bottom: 20px;

}

section header .title_icon {
    border: 2px solid;
    border-radius: 100%;
    color: #292C28;
    font-size: 29px;
    left: 0;
    padding: 5px;
    position: absolute;
}
#gmap {
	width:100%;
	height:416px;
	display:block;
/*

	-webkit-filter: grayscale(100%);
	   -moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		   filter: grayscale(100%);
		   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		   filter: gray;
*/
	z-index:1;
}

/* BUTTONS - BOOTSTRAP REWRITE */
.btn {
    font-family: 'Asap', 'sans-serif';
}

.btn.btn-primary.green {
    background: #62af66;
    border: 2px solid rgba(55, 61, 61, 0.2);
}




.btn.btn-primary.red:hover,
.btn.btn-primary.green:hover {
	color:#2A2F36;
	background:#fff;
}

.btn.btn-primary.red {
    background: #326a67
}

.util-row div.divider-util {
	height: 2px;
	border-top:#605f5f 1px solid;
	border-bottom:#605f5f 1px solid;
	margin-top:10px;
	margin-bottom: 20px;
	text-align:center;
	position:relative;
}
.util-row div.divider-util h2 {
		position:absolute;
		display:inline-block;
		background:#ffffff;
		margin-top:-18px;
		left:50%;
        color:#605f5f;
		width:150px;
         margin-left: -75px;
		text-align:center;
		font-size:26px;
	}


footer .copyright {
    line-height: 40px;
    padding-top: 10px;
}

footer h3 {
    color: #ffffff;
    line-height: 60px;
}
footer a.toTop {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    bottom: 0;
    color: #FFFFFF;
    font-size: 23px;
    margin-left: 0;
    margin-right: 20px;
    padding: 10px 16px;
    position: absolute;
    right: 0;
    top: -23px;
    z-index: 100;
    left: inherit
}
/** 1. Agenda
**************************************************************** **/

section#agenda .btn.black {
    background: none repeat scroll 0 0 #232428;
    color: #62AF66;
    font-weight: 100;
    margin-top: 0;

}
/** 12. Portfolio
 **************************************************************** **/
#portfolio .isotope-item .caption {
	position:relative;
	display:block;
	background:#aab2a9;
	padding:40px 20px 20px 20px;
	text-align:center;
}

#portfolio .isotope-item .caption h3 {
	font-family: 'Asap', 'sans-serif';
	font-size:14px;
	line-height:14px;
	font-weight:100;
}
#portfolio .isotope-item .caption p {
    font-family: 'Asap', 'sans-serif';
	font-size:12px;
	padding:0;
	text-transform:uppercase;
	display:inline-block;
	color:#292c28;
	border-top:#292c28 1px dotted;
	margin-top:6px;
    line-height: normal;
    padding-top:  10px;
}

#portfolio .isotope-item .caption i.fa {
	background:#333;
	padding:14px;
	position:absolute;
	width:50px;
    height:50px;
	margin-top:-66px;
	margin-left:-25px;
	left:50%;
	background:#aab2a9;
	color:#292c28;
	border:#aab2a9 2px solid;
}

ul.bstrap-tabs li a {
    font-family: 'Asap', 'sans-serif';
	font-size:17px;
	text-align:center;
	margin:0 3px;
	color:#292c28;
	border-bottom:0 !important;
	border-left:0 !important;
	border-right:0 !important;

}

ul.bstrap-tabs>li>a,
ul.bstrap-tabs>li.active>a,
ul.bstrap-tabs>li.active>a:hover,
ul.bstrap-tabs>li.active>a:focus {
	border-top:#292c28 1px solid;

}

ul.bstrap-tabs>li>a:hover,
ul.bstrap-tabs>li>a:focus,
ul.bstrap-tabs li.active a,
ul.bstrap-tabs li.active a:hover,
ul.bstrap-tabs>li.active>a:hover,
ul.bstrap-tabs>li.active>a:focus {
	border-top:#292c28 1px solid;
	background:#afb3ac;
}

ul.bstrap-tabs li.active a,
ul.bstrap-tabs li.active a i {
	color:#292c28;
}

#agenda .agenda-wrapper {
    max-width: 100%;
    position: relative;

}

#agenda .agenda-wrapper:after {
    background: none repeat scroll 0 0 #393734;
    content: "";
    height: 100%;
    left: 49.3%;
    position: absolute;
    top: 0;
    width: 2px;
}

#agenda .agenda-wrapper .timeline-list li {
    font-size: 16px;
    font-family: 'Asap', 'sans-serif';
    font-weight: 100;
    margin: 25px 0;
    position: relative;
    width: 100%;
    color: #292c28;
}
#agenda .agenda-wrapper .timeline-list li strong {
    font-weight: 700;
}
#agenda  .agenda-wrapper .timeline-list .right {
    padding-left: 50px;
    text-align: left;
}
#agenda  .agenda-wrapper .timeline-list .left {
    padding-right: 50px;
    text-align: right;
}
#agenda  .agenda-wrapper .timeline-list .left:after {
    background: url("../../img/site/rombo.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 39px;
    position: absolute;
    right: -26px;
    top: -4px;
    width: 39px;
    z-index: 999;
}
#agenda  .agenda-wrapper .timeline-list .right,
#agenda  .agenda-wrapper .timeline-list .left {
    display: inline-block;
    position: relative;
    width: 48.8%;
    vertical-align: top;
}
/** 07. Util Row
	example: newsletter subscribe
 **************************************************************** **/
section.util-row {
	color:#fff;
	position:relative;
	overflow:hidden;
	background:#ffffff;
	padding:20px 0;
}

#oradores .oradores_titles,
#sponsor .sponsor_titles {
    padding-top: 10px;
    padding-bottom: 10px;
  /*  text-align: center;*/
    margin-bottom: 10px;
}

#sponsor .regular {
    background: #616261;
}

#sponsor .media {
    background: #000000;
}

#oradores .oradores_titles,
#sponsor .platino {
    background: #447a47;
}

#oradores .oradores_titles h5,
#sponsor h5 {
    color: #ffffff;
    text-transform: uppercase
}

#sponsor .sponsor_item {
    margin-bottom: 10px;
    text-align: center;
}

#sponsor .sponsor_item img {
    margin: 0 auto
}

#bisblick .compromiso_social {

    margin: 20px 0;
    padding: 10px;
}

#bisblick .nuestra_filosofia {


}

#bisblick .nuestra_filosofia div {

    padding: 20px;
}

#bisblick .nuestra_filosofia div h5 {
    color: #000;
}

#bisblick .nuestra_filosofia p {
    padding: 20px;
    font-family: 'Asap', 'sans-serif';
    color: #000;
    font-size:12px
}

footer div.separator { /* max-width:479px 	=> 	seaparator is on top */
		border-left:rgba(255,255,255,0.1) 1px solid;
	}

/** 09. Price Table
 **************************************************************** **/
div.price-table {
	background:#f3f3f3;
	margin:0; padding:0;
	text-align:center;
	padding-bottom:20px;
	margin:30px 0;
    min-height: 326px;
    -webkit-transition: all 300ms !important;
	   -moz-transition: all 300ms !important;
		 -o-transition: all 300ms !important;
			transition: all 300ms !important;
}

div.price-table .overlay {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}

div.price-table.active {
    box-shadow: 0 0 6px 0 #000000;
    z-index:20;
    -webkit-transition: all 300ms !important;
	   -moz-transition: all 300ms !important;
		 -o-transition: all 300ms !important;
			transition: all 300ms !important;
}
	div.price-table h3 {
		font-size:25px;
		line-height:25px;
		padding:30px 0 15px 0;
		border-bottom:#E7E7E7 2px solid;
	}

    div.price-table h3 span {
        color: #f40303;
        font-size: 16px;

    }
	div.price-table p {
		color:#000000;
		font-size:32px;
        font-family: 'Asap', sans-serif;
		padding:20px 0;
		font-weight:100;
        border-bottom:#E7E7E7 2px solid;
        min-height: 115px;
	}
    div.price-table p br {
        line-height: normal;
    }
	div.price-table p span {
		display:block;
		font-size:11px;
		font-weight:300;
        line-height: normal;
		text-transform:uppercase;
		margin: 15px 10px;
	}
    div.price-table .price_check  {
        margin-top: 20px;
    }
	div.price-table ul li {
		font-size:12px;
		border-bottom:#E7E7E7 2px solid;
		padding:8px;
        text-transform: none;
        font-family: 'Asap', sans-serif;
	}

	div.price-table.standard {
		background:#b4c2b4;
        color: #ffffff;
	}

    div.price-table.platea.premium {
		background:#64ac67;
        color: #ffffff;
	}

    div.price-table.ayuda {
		background:#553463;
        color: #ffffff;
    }
    div.price-table.general h3,
    div.price-table.platea h3,
    div.price-table.standard h3,
    div.price-table.premium h3,
    div.price-table.ayuda h3 {
        color: #ffffff;
    }

    div.price-table.general p,
    div.price-table.platea p,
    div.price-table.standard p,
    div.price-table.premium p,
    div.price-table.ayuda p {
        color: #ffffff
    }

div.price-table.platea {
    background: #f39c12;
}

div.price-table.general {
    background: #f1c40f;
}
#registrese .conocio_opciones {
    border-top: 2px solid #292C28;
    border-bottom: 2px solid #292C28;
    padding: 10px 0;
    margin-top: 20px;
}
#registrese .conocio_opciones ul {
    margin: 10px 0;
}
#registrese .conocio_opciones ul li {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
}

#registrese .conocio_opciones ul li input,
#registrese .conocio_opciones ul li label {
    display: block;
    margin: 0 auto;
}

.help-inline {
    color: #A94442;
    font-family: 'Asap',sans-serif;
    font-weight: 100;
    font-size: 12px;
}

@media (min-width: 240px) and (max-width: 767px) {
    #agenda .agenda-wrapper:after {
        background: none;
    }

    #agenda .agenda-wrapper .timeline-list .right:after,
    #agenda .agenda-wrapper .timeline-list .left:after {
        height: 0;
        width: 0;
        background: none;
    }

    #agenda  .agenda-wrapper .timeline-list .right,
    #agenda  .agenda-wrapper .timeline-list .left {
        display: block;
        position: relative;
        width: 100%;
        padding: 0;
        text-align: left;
    }
}

@media only screen and (max-width: 479px) {
    #home .image-caption p {
    	font-family: 'Asap', 'sans-serif';
    	font-size: 14px;
        line-height:100%;
    	font-weight:700;
    	color: #d6dbd9;
    	text-transform: uppercase;
    	text-shadow:none;
    }

    #home .image-caption h2 {
    	font-family: 'Asap', 'sans-serif';
    	font-weight:700;
    	font-size:20px;
    	line-height:95%;
    	text-transform:uppercase;
    	text-shadow:none;
    	color:#d6dbd9;
        display:block;
    }
}


.destacar {
    color: #ffffff;
    background-color: #292C28 !important;
    -webkit-transition: all 1s;
	   -moz-transition: all 1s;
		 -o-transition: all 1s;
			transition: all 1s;
}

#multi-page div.inner-cover {
    margin: 0;
}

/* SKILL CIRCLES */
	.skill {
		border: none;
		border-bottom:none;
		width:200px;
        height:145px;
		text-align:center;
		position:relative;
		display:inline-block;
		margin:30px 15px;

		-moz-border-radius:0;
			 border-radius:0;
	}
	.skill  h2 {
    	color: #64AC67;
        display: block;
        font-family: 'Asap','sans-serif';
        font-size: 15px;
        line-height: normal;
        padding-top: 0;
	}
	.skill  h3 {
		display:inline-block;
		color:#64AC67;
		font-size:20px;
		line-height:20px;
		padding-top:8px;
		margin-top:8px;
	}
	.skill i {
	bottom: 0px;
    color: #553463;
    display: block;
    font-size: 50px;
    left: 0;
    margin: 10px 0;

    position: relative;

	}





#oradores{
	background-color: #ffffff;
}

#oradores .speaker_name h3 {
    color:#2ab7bf;
    font-size:18px;
    text-align:center;
    padding-top:10px;
    text-transform: uppercase;
}

#oradores .speaker_name h4 {
    color:#2ab7bf;
    font-size:14px;
    text-align:center;
    text-transform: uppercase;
}

#oradores .speaker_social{
	text-align: center;
}

#oradores .speaker_profile{
	color:#000000;
    font-size:12px;
    text-align:center;
}

#oradores .speaker_img{
	text-align: center;
}



#bisblick{
    background-color: #ffffff;
}

#bisblick .a{
    color: #fff;
}

















