/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background: #f5f5f5;
  font-size: 16px;
  color: #444444;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0;
  border: 0; }
  ul li {
    list-style-type: none;
    list-style: none; }

a {
  text-decoration: none;
  color: #1c8893; }
  a:hover {
    text-decoration: none;
    color: rgba(28, 136, 147, 0.7); }

h1.pageTitle {
  font-weight: 700;
  margin-top: 80px;
  font-size: 3rem; }

h2.sectionTitle {
  font-weight: 700;
  font-size: 3rem; }

h3.bajada {
  font-weight: 700;
  font-size: 2rem;
  margin: 0 0 2rem 0;
  padding: 0; }

.line {
  width: 100%;
  background: #cbcbcb;
  height: 1px;
  margin: 4rem 0; }

.btnONE {
  width: auto;
  background: #1c8893;
  color: #FFF;
  border: 0;
  padding: 1rem 4rem;
  display: inline-block;
  opacity: 1;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease; }
  @media (min-width: 960px) {
    .btnONE {
      margin-bottom: 0;
      margin-top: 2rem; } }
  .btnONE:hover {
    text-decoration: none;
    color: #FFF;
    opacity: .9; }

header {
  background: #1c8893;
  color: #FFF;
  height: 78px;
  margin-bottom: 40px;
  padding: 0; }
  @media (min-width: 960px) {
    header {
      height: 150px;
      margin-bottom: 100px; } }
  header .headerContent {
    position: relative; }
    header .headerContent a.logo {
      margin-top: 20px;
      background: url("../../img/logo.png") no-repeat;
      background-size: contain;
      display: inline-block;
      width: 124px;
      height: 38px;
      text-indent: -999rem; }
      @media (min-width: 960px) {
        header .headerContent a.logo {
          width: 230px;
          height: 70px;
          margin-top: 40px; } }

#content {
  margin-bottom: 100px; }
  #content #headContent h2.sectionTitle .eventName {
    font-size: 3rem;
    display: block;
    text-align: center;
    margin-bottom: 2rem; }
    @media (min-width: 960px) {
      #content #headContent h2.sectionTitle .eventName {
        font-size: 3rem;
        font-weight: 700;
        display: inline-block;
        text-align: left;
        margin-bottom: 0; } }
  #content #headContent h2.sectionTitle .eventDay {
    font-size: 1.3rem;
    display: block;
    text-align: center;
    font-weight: 400; }
    @media (min-width: 960px) {
      #content #headContent h2.sectionTitle .eventDay {
        font-size: 3rem;
        font-weight: 700;
        display: inline-block;
        text-align: left; } }
  #content #headContent h2.sectionTitle .pipe {
    display: none; }
    @media (min-width: 960px) {
      #content #headContent h2.sectionTitle .pipe {
        display: inline-block; } }
  #content #headContent h2.sectionTitle i {
    display: inline-block; }
    @media (min-width: 960px) {
      #content #headContent h2.sectionTitle i {
        display: none; } }
  #content #headContent .searchUser {
    text-align: center; }
    #content #headContent .searchUser .searchField {
      position: relative; }
      #content #headContent .searchUser .searchField input[type="text"] {
        width: 100%;
        background: #FFF;
        border: 0;
        color: #444444;
        padding: 1rem 1.4rem;
        margin-bottom: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box; }
        @media (min-width: 960px) {
          #content #headContent .searchUser .searchField input[type="text"] {
            margin-bottom: 0; } }
      #content #headContent .searchUser .searchField a.cancelBtn {
        font-weight: 700;
        line-height: 44px;
        position: absolute;
        top: 0;
        right: 3rem;
        color: #cbcbcb;
        display: block;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease; }
        @media (min-width: 960px) {
          #content #headContent .searchUser .searchField a.cancelBtn {
            display: none; } }
        #content #headContent .searchUser .searchField a.cancelBtn:hover {
          color: #1c8893; }
  #content #userList .table .tableHead {
    font-size: 1.3rem;
    font-weight: 700;
    background: #1c8893;
    color: #FFF;
    padding: 1.6rem 0;
    margin-bottom: .8rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
  #content #userList .table li.item {
    font-size: 1.3rem;
    background: #FFF;
    padding: 1.6rem 0;
    margin-bottom: .8rem;
    line-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
    @media (min-width: 960px) {
      #content #userList .table li.item {
        line-height: 24px; } }
    #content #userList .table li.item:nth-child(even) {
      background: #dee5e6; }
    #content #userList .table li.item .name a {
      color: #1c8893; }
      @media (min-width: 960px) {
        #content #userList .table li.item .name a {
          color: #444444; } }
    #content #userList .table li.item .ticket {
      text-transform: normal; }
      @media (min-width: 960px) {
        #content #userList .table li.item .ticket {
          text-transform: uppercase; } }
    #content #userList .table li.item .detailBtn a {
      color: #1c8893;
      padding: .4rem 1rem;
      border: 1px solid #1c8893;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
  #content #userDetail {
    text-align: center; }
    @media (min-width: 960px) {
      #content #userDetail {
        text-align: left; } }
    #content #userDetail figure.avatar {
      max-width: 230px;
      margin-bottom: 40px;
      overflow: hidden;
      display: inline-block;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%; }
      #content #userDetail figure.avatar img {
        width: 100%;
        height: auto; }
    #content #userDetail ul.userInfo li {
      display: block;
      background: #FFF;
      margin-bottom: 1rem;
      padding: 2rem; }

a.switchON {
  display: inline-block;
  background: url("../../img/switch.png") 0 0 no-repeat;
  background-size: cover;
  text-align: right;
  width: 55px;
  height: 24px;
  position: relative;
  cursor: auto;
  top: 4px; }

a.switchOFF {
  display: inline-block;
  background: url("../../img/switch.png") 0 -24px no-repeat;
  background-size: cover;
  text-align: right;
  width: 55px;
  height: 24px;
  position: relative;
  top: 4px; }
